import styles from "../page.module.css";

export default function {{properCase name}}() { 
  return (
    <main className={styles.main}>
      <h1 className={styles.title}>{{properCase name}}</h1>
    </main>
  ); 
}