"use client";
import styled from "styled-components";
import { FC } from "react";


type Props = {}

export const {{properCase name}}:FC<Props> = (props) => {
  return (
    <div>
    </div>
  );
};

{{properCase name}}.displayName = "{{properCase name}}";